:root {
  --light-grey: #f3f3f3;
  --blue: #005cb9;
  --red: #b94a48;

  --c: #000000;
  --cLink: #005cb9;
  --cLInkHover: #005cb9;

  --c-h1: #005cb9;
  --c-h2: #000000;
  --c-h3: #000000;
  --c-h4: #000000;
  --c-h5: #000000;
  --c-h6: #000000;

  --fz: 16px;
  --ff: Arial, Helvetica, sans-serif;
  --ffJa: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ",
    "Meiryo", "ＭＳ Ｐゴシック", "Osaka", "Arial", "Helvetica", Sans-serif;
  --ffHeading: "Roboto", Arial, Helvetica, sans-serif;

  --lh: 1.8em;

  --fz-h1: 30px;
  --fz-h2: 25px;
  --fz-h3: 20px;
  --fz-h4: 18px;
  --fz-h5: 15px;
  --fz-h6: 14px;

  --fz-h1-tablet: 28px;
  --fz-h2-tablet: 25px;
  --fz-h3-tablet: 20px;
  --fz-h4-tablet: 18px;
  --fz-h5-tablet: 15px;
  --fz-h6-tablet: 14px;

  --fz-h1-mobile: 24px;
  --fz-h2-mobile: 20px;
  --fz-h3-mobile: 18px;
  --fz-h4-mobile: 16px;
  --fz-h5-mobile: 15px;
  --fz-h6-mobile: 14px;

  --sprite: url(../data/i/sprite.png?ver3);
  --bdc: #e7e7e7;
}

#olympus-microscopy {
  text-align: center;
}

.demo {
  /* display: flex; */
  justify-content: space-between;
  width: 100%;
}
.block {
  padding: 0;
  margin: 0;
  line-height: 1.3em;
  font-size: 14px;
  margin-top: 20px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

.demo > div {
  width: calc(50% - 25px);
  display: flex;
  flex-flow: row nowrap;
  border-left: 3px solid #d7d7d7;
  padding: 0 0 0 20px;
  position: relative;
  transition: all 0.5s;
  margin-bottom: 40px;
}
.demo > div > div {
  width: 50%;
}
.demo > div > div > p:nth-child(1) {
  background-color: grey;
  display: inline-block;
  color: white;
  padding: 3px 6px;
  margin: 0;
}
.demo > div > div > p:nth-child(2) {
  color: #666;
  margin-bottom: 0;
}
.demo > div > div > p:nth-child(3) {
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 8px;
}

/* .columns > div > div > h2 {
  margin-top: 0;
} */

main .black {
  background-color: blue;
}

.black > .columns-wrapper > .columns > div > div {
  margin-top: 0;
}
.black > .columns-wrapper > .columns > div > div > h2 {
  font-size: 25px;
}
.black > .columns-wrapper > .columns > div > div > p {
  font-size: var(--fz);
}
main .white-text {
  color: white;
}

.joinus .columns-wrapper > .columns > div {
  border-left: 1px solid #000;
  padding-left: 50px;
}
