.header-wrapper {
  width: 100%;
  z-index: 2;
  position: fixed;
}
.header {
  box-sizing: border-box;
  display: grid;
  grid-template:
    "hamburger brand tools" var(--nav-height)
    "sections sections sections" 1fr / auto 1fr auto;
  align-items: center;
  gap: 0 2em;
  margin: auto;
  max-width: 1264px;
  height: var(--nav-height);
  padding: 0 1rem;
}
ul {
  list-style: none;
  display: flex;
  flex-flow: row nowrap;
  padding: 0;
}
li {
  margin-right: 40px;
}
li a {
  color: black;
}
li a :hover {
  color: blue;
}
