.hero-video {
  position: relative;
}
.hero-video video {
  max-width: 100%;
  cursor: pointer;
}
.hero-video div:nth-child(2) {
  background-color: rgba(255, 255, 255, 0.9);
  color: #000000;
  position: absolute;
  right: calc((100% - 1240px) / 2);
  top: 0;
  width: 320px;
  padding: 33px;
  font-size: 30px;
  font-weight: bold;
  line-height: 1.3em;
  pointer-events: none;
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  opacity: 1;
  transition: opacity 0.3s ease-in-out;
}
.section.hero-video-container {
  padding: 0px;
}
.section.hero-video-container .hero-video-wrapper {
  max-width: 100% !important;
}
.hero-video img {
  display: block;
  margin: 50px auto 100px;
}
