footer {
  text-align: center;
  padding: 100px 0;
  background-color: #fff;
  position: relative;
  color: #000000;
  font-size: 16px;
}

footer ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

footer li {
  margin: 0 15px;
}
footer li a {
  color: #000000 !important;
}

.footer-block :nth-child(4) {
  position: absolute;
  right: 15px;
  top: 0;
}
