main .careers .columns-wrapper {
  background-color: #f3f3f3;
}
.careers > .columns-wrapper > .columns > div :nth-child(1) > h2 {
  font-size: 25px;
}
.careers > .columns-wrapper > .columns > div :nth-child(1) > p {
  font-size: 16px;
}
.career {
  display: none;
}

#who-we-are {
  font-size: 25px;
}
