.columns-wrapper {
  background-color: #f3f3f3;
}
.careers_who > .columns-wrapper > .columns > div :nth-child(1) > h2 {
  font-size: 25px;
}
.careers_who > .columns-wrapper > .columns > div :nth-child(1) > p {
  font-size: 16px;
}
